/* general layout */
* {
    font-weight: 400;
   
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}


/* HEADER LAYOUT */



.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main"
    ;
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
}


main {
    display: grid;
}



header {
    display: flex;
    flex-flow: row;
    background: #5C5C8B;
}

header h1 {
    flex: 2;
    margin-left: 13px;
    color: #fff;
}

.bold {
    font-weight: 800;
}

.bell-svg {
    width:20px;
    margin: 25px auto;
    position: relative;
    transition: transform .3s;
}
.bell-svg:hover {
    transform: scale(1.7);
}
#notifications {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(6, 212, 6);
    position: absolute;
    top: 0;
    right: 0;
}

.vertical-line {
    border-left: 2px solid rgb(54, 54, 54);
    display: inline-block;
    height: 50px;
    margin: 15px 16px;
}

header .member-img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 16px;
}

header h3 {
    color: #fff;
    margin-left: 11px;
    margin-top: 26.72px;
    margin-right: 3px;
}

/* navigation layout */

nav {
    background: #3A4A5A;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.svg-nav {
    width: 20px;
    padding: 15px;
}

.svg-nav:hover {
    border-left: 5px solid rgb(45, 231, 45);
}

/* dashboard layout */


.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header-search {
    width: 60%;
    background: rgb(187, 184, 184);;
    border-radius: 0 0 0 5px;
}

.main-header-search input {
    float: right;
    width: 70%;
    margin: 15px;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    border:none;
}

.main-header-search button[type="submit"] {
    position: absolute;
    right: 17px;
    top: 147px;
    background: white;
    border: none;
    z-index: 2;
    color: rgb(156, 155, 155);
    cursor: pointer;
}
/* alert */

.alert-banner {
    background: #5C5C8B;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    margin: 20px 0;
    color: white;
    position: relative;
}

.alert-banner p {
    position: absolute;
}

#alert-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background: #5C5C8B;
    cursor: pointer;
    padding: 15px;
}

/* traffic nav */ 
.traffic-nav li {
    list-style-type: none;
    padding:10px;
}

.traffic-nav li:hover {
    background: rgb(39, 199, 39);
    border-radius: 22px;
    color: white;
}


.traffic-nav {
    text-align: center;
    padding: 0;
}
.traffic-nav-link {
    display: inline;
}

h3 {
    text-align: center;
}

/*  widget charts  */

.widget-container-full,
.widget-container-half {
    width: 95vw;
}

/* social container */

.social-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}

.svg-social-icon {
    width: 40px;
}

.social-image {
    background: #5C5C8B;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.twitter,
.facebook,
.google {

    width: 30%;
    background: rgb(236, 234, 240);
    border: 1px solid rgb(231, 226, 236);
    margin: 10px;
    border-radius: 5px;
    padding-top: 10px;
}
.social-text p:last-child{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
}
.social-text {
    color: #5C5C8B;
    
}

/* members and activity */
.members-container {
    position: relative;
}

.members .members-text > p:nth-child(2){
    position: absolute;
    right: 30px;
    top : -16px;
}
.members-container img {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.members-text a {
    text-decoration-line: none;
}


.members,
.activity {
    width: 90%;
    margin: 0 auto;
}

.activity .members-text p:nth-child(2) {
    margin: 0 0;
}

.fa-greater-than {
    display: none;
}

/* message user */

.message,
.settings {
    width: 90%;
    margin: 0 auto;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

#userField {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background: rgb(236, 234, 240);
}

#messageField {
    height: 187px;
    border-radius: 5px;
    border: none;
    background: rgb(236, 234, 240);
}

#send {
    margin-top: 13px;
    height: 35px;
    border-radius: 5px;
    background: #5c5c8B;
    color: white;
    border: 1px solid rgb(167, 163, 163);
}

#timezone {
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    background: rgb(236, 234, 240);
    border: none;
}

.settings-button {
    display: flex;
  }


#save {
    margin-top: 13px;
    height: 35px;
    border-radius: 5px;
    background: #5c5c8B;
    color: white;
    border: 1px solid rgb(167, 163, 163);
    padding: 0 18px;
    flex-basis: 50%;
}
#cancel {
    margin-top: 13px;
    height: 35px;
    border-radius: 5px;
    background: gray;
    color: white;
    border: 1px solid rgb(167, 163, 163);
    flex-basis: 50%;
}


.switch-light {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.switch-ios.switch-light > span {
    width: 86px;
    margin-left: auto; 
}

.switch-ios.switch-light input:checked ~ span {
    border-color: #5C5C8B;
    box-shadow: inset 0 0 0 30px #5C5C8B;
}

.switch-ios.switch-light input:checked ~ span a {
    border-color: #5C5C8b;
}


/* grey borders around the sections */


.traffic,
.daily,
.mobile,
.social-container
 {
    border-bottom: none;
}
.daily {
    padding: 0 0 27px;
    border-right: 1px solid rgb(228, 221, 221);
}
.message, .settings {
    border-top: none;
}
/* ------------------------------------------------------------- @media queries----------------------------*/
@media (min-width: 768px) {
    /* header layout */
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main"
        ;
    }
    h3 {
        text-align: initial;
    }
    main {
        grid-template-columns: 50%;
        margin: 0 0 0 10px;
    }
    header {
        display: flex;
        flex-flow: row wrap;
    }

    header h1 {
        flex: 1;
    }

    /* navigation layout */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    /* dashboard */

    .alert {
        height: 50px;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
    }

    .main-header-search {
        width: 70%;
    }

    .main-header-search input {
        float: right;
        width: 20%;
        margin: 15px 0;

    } 

    /* tarffic nav */
    .traffic-header {
        display: flex;
    }
    
    .traffic-header h3 {
        flex-grow: 1;
        margin-top: 25px;
    }

    .main-header-search button[type="submit"] {
        right: -3px;
        top: 101px;
    }
    /* main layout */


    .main-header,
    .traffic,
    .social-container,
    #alert {
        grid-column: 1 / span 2;
    }


    /* widget charts */

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    /* social container */

    .social-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .twitter,
    .facebook,
    .google {
        display: flex;
    }
    .social-image,
    .social-text {
        margin: auto;
    }
    /* members container */

    .fa-greater-than {
        display: block;
        position: absolute;
        right: 30px;
        top: -16px;
        color: #5C5C8B;
    }
    
    .settings {
        display:flex;
        flex-direction: column;
    }

    .settings-button {
        margin-top: auto;
    }

    .traffic,
    .daily,
    .mobile,
    .social-container
     {
        border-bottom: 1px solid rgb(228, 221, 221);
        padding: 0 0 20px;
    }


    


}

